.template-wrap {
  height: 100vh;
  width: 100%;
  max-width: 1920px;
  background-color: $yellow;
  position: relative;

  .site-visit {
    z-index: 5;
    position: absolute;
    top: 150px;
    left: -50px;
    transform: rotate(-90deg);

    p {
      font-size: 28px;

      &:nth-of-type(2) {
        text-align: right;
      }

      a {
        color: $brown;
        text-decoration: none;
        font-size: 18px;
        transition: .2s linear all;

        & {
          position: relative;
          padding: 0 0.2em;

          &:before {
            content: '';
            position: absolute;
            bottom: 0;
            left: auto;
            right: 0;
            height: 50%;
            width: 0;
            background: $turquoise;
            z-index: -1;
            transition: all 300ms ease;
          }
        }

        &:hover {
          color: white;
          transition: .2s linear all;

          & {
            &:before {
              content: '';
              width: 100%;
              left: 0;
              right: 0;
            }
          }
        }
      }
    }
  }

  .header {
    z-index: 5;
    position: absolute;
    top: 0;
    box-sizing: border-box;
    width: 100%;
    padding: 50px;

    .dots-image {
      position: relative;
      width: 100%;

      img {
        position: absolute;
        right: 50px;
        width: 22%;
      }
    }

    .header-nav {
      display: flex;
      justify-content: space-between;
      .header-item {
        font-size: 28px;
        position: relative;
        .header-link {
          position: relative;
          color: $brown;
          text-decoration: none;
          transition: .2s linear all;

          &:hover {
            color: $turquoise;
          }
        }

        &:first-of-type {
          margin-left: 100px;

          img {
            position: absolute;
            width: 65%;
            right: 35%;
            top: 125%;
          }
        }

        &:nth-of-type(2) {
          margin-right: 15%;

          & {
            position: relative;
            padding: 0 0.2em;

            &:before {
              content: '';
              position: absolute;
              bottom: 0;
              left: auto;
              right: 0;
              height: 50%;
              width: 0;
              background: $darkRed;
              z-index: -1;
              transition: all 300ms ease;
            }
          }

          &:hover {
            .header-link {
              color: white;
              transition: .2s linear all;
            }

            & {
              &:before {
                content: '';
                width: 100%;
                left: 0;
                right: 0;
              }
            }
          }
        }

        &:nth-of-type(3) {
          & {
            position: relative;
            padding: 0 0.2em;

            &:before {
              content: '';
              position: absolute;
              bottom: 0;
              left: auto;
              right: 0;
              height: 50%;
              width: 0;
              background: $darkRed;
              z-index: -1;
              transition: all 300ms ease;
            }
          }

          &:hover {
            .header-link {
              color: white;
              transition: .2s linear all;
            }

            & {
              &:before {
                content: '';
                width: 100%;
                left: 0;
                right: 0;
              }
            }
          }
        }
      }
    }
  }

  .social-links {
    position: absolute;
    left: 50px;
    top: 35%;
    z-index: 5;

    .social-list {
      .social-item {
        margin: 8px 0;

        .social-link {
          .social-image {
            height: 50px;
            width: 50px;
            transition: .2s all linear;

            &:hover {
              transition: .2s all linear;
              transform: scale(1.2);
            }
          }
        }
      }
    }
  }

}

.footer {
  z-index: 2;
  width: 100%;
  box-sizing: border-box;
  border-top: solid $turquoise 6px;
  padding-top: 8px;
  background-size: cover;
  background-repeat: repeat-x;
  background-color: $yellow;
  background-image: url('../images/timer-footer-bg_1.svg');

  .footer-images {
    position: relative;

    .stripes {
      right: 0;
      width: 24%;
      bottom: 10px;
      position: absolute;
    }

    .penguin {
      position: absolute;
      width: 13.5%;
      bottom: 15px;
      left: 18%;
      z-index: 5;
    }
  }

  .content {
    padding: 0 50px;
    padding-top: 12px;
    padding-bottom: 46px;
    display: flex;
    flex-direction: column;

    a {
      margin: 8px 0;
      color: $brown;
      text-decoration: none;
      display: inline-block;
      font-size: 28px;

      &:hover {
        color: $darkRed;
        text-decoration: underline;
      }
    }
  }

  .copyright {
    padding-bottom: 8px;
    background-color: $yellow;
    text-align: center;
    color: $brown;
    font-size: 28px;

    span {
      color: $turquoise;
    }
  }
}
