{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block title %}Олимпиада{% endblock title %}
{% block content %}
   <section class="tests-wrapper" id="tests-wrapper anchor">

{% if question.image %}
<div class="test-image">
    <img src="{{ question.image.url }}" alt="">
</div>
{% endif %}

<div class="test-counter">
    <span>{{  question.question }}</span>
</div>
<div class="tests-button-group">
    <a href="" class="test-button" style="text-decoration:none; font-size:16px;color:#fff;border:none;font-family:sans-serif;margin-bottom:12px;">Вернуться к вопросам</a>
</div>
{% if not completed %}   
<div class="id48Question" id="id48QuestionId">
    <div class="id48Question-wrapper">
        <form action="{% url 'answer48' %}" method="POST">
        {% csrf_token %}
        <div style="display:flex;flex-flow:row wrap; align-items:center;">
        <div class="queBox">
            {% render_field form.q481 id="test-answer-id" class="test-detail-answer" style="background:transparent; border:solid 2px black;padding:22px 16px; border-radius:3px;outline:none;width:214px;" placeholder='Первый город: ' %}
        </div>
        <span style="font-size:40px;;margin:0 8px;">-</span>
        <div class="queBox">
            {% render_field form.q482 id="test-answer-id" class="test-detail-answer" style="background:transparent; border:solid 2px black;padding:22px 16px; border-radius:3px;outline:none;width:214px;" placeholder='Второй город: ' %}
        </div>
        </div>
        <button type="submit" class="test-button test-prev">Ответить</button>
    </form>
    </div>
</div>
{% else %}
{{ completed }}
    {% endif %}
    </section>
    {% endblock content %}
