.payment-layer {
  background: rgb(69, 16, 138);
  background: linear-gradient(293deg, rgba(69, 16, 138, 1) 0%, rgba(61, 6, 95, 1) 23%, rgba(16, 5, 77, 1) 100%);

  .site-visit {
    p {
      color: White;

      a {
        color: White;
      }
    }
  }

  .header {
    .header-nav {
      .header-item {
        &:nth-of-type(1) {
          opacity: 0;
        }

        .header-link {
          color: white;
        }
      }
    }
  }
}

.payment-bg-layer {
  .content {
    #bg-timer-layer-item-1 {
      animation: none;
    }

    #bg-timer-layer-item-2 {
      animation: none;
      right: 27%;
      bottom: 15%;
    }

    #bg-timer-layer-item-3 {
      animation: none;
    }

    #bg-timer-layer-item-4 {
      animation: none;
    }

    #bg-timer-layer-item-5 {
      animation: none;
    }

    #bg-timer-layer-item-6 {
      animation: none;
    }
  }
}

.payment-dialog-layer {
  .content {
    display: flex;
    flex-direction: column;

    .box {
      animation: none;
      margin-bottom: 15%;

      .text {
        .heading {
          p {
            color: white;
            text-transform: uppercase;
            text-align: right;
            font-size: 24px;
            position: relative;
            right: 20vw;

            &:after {
              content: "!";
              font-size: 70px;
              position: absolute;
              bottom: -10px;
              font-weight: 700;
            }
          }
        }

        .buttons {
          display: flex;
          justify-content: center;
          margin-top: 50px;

          .button {
            margin: 0 12px;

            a {
              position: relative;
              text-decoration: none;
              color: white;
              font-size: 32px;
              border: solid 3px $pink;
              border-radius: 40px;
              padding: 15px 50px;
            }

            &:first-of-type {
              a {
                background-color: $pink;
                transition: .2s linear all;

                &:hover {
                  background-color: transparent;
                  transition: .2s linear all;
                }
              }
            }

            &:last-of-type {
              transition: .2s linear all;

              a {
                background-color: transparent;
                transition: .2s linear all;

                &:hover {
                  transition: .2s linear all;
                  background-color: $pink;
                }
              }
            }
          }
        }
      }
    }

    .payment-image {
      width: 28%;
      animation: fadeUpDown 2s infinite linear;
      position: relative;
    }
  }
}


.bad-payment-layer {
  background-size: cover;
  background-repeat: no-repeat;
  background-color: unset;
  background-image: url('../images/badpayment-bg.svg');

  .site-visit {
    p {
      color: $yellow;

      a {
        color: $yellow;

      }
    }
  }

  .header {
    .header-nav {
      .header-item {
        &:nth-of-type(1) {
          z-index: -1000;
          opacity: 0;
        }

        .header-link {
          color: $yellow;
        }
      }
    }
  }
}

.bad-payment-dialog-layer {
  .content {
    .box {
      margin-top: 8vh;
      color: $yellow;
      animation: none;
      text-transform: uppercase;

      .title {
        font-weight: 700;
        font-size: 52px;
        position: relative;
        right: 6vw;

      }

      .subtitle {
        a {
          color: $yellow;
          font-weight: 500;
          font-size: 32px;
          text-decoration: none;
          position: relative;
          left: 6vw;
        }
      }

      .button {
        position: relative;
        left: 3vw;
        margin: 7vh 0;

        a {
          text-decoration: none;
          font-size: 32px;
          color: $yellow;
          padding: 3vh 12vw;
          border: 4px $yellow solid;
          transition: .2s linear all;

          & {
            position: relative;

            &:before {
              content: '';
              position: absolute;
              bottom: 30px;
              left: auto;
              right: 0;
              height: 15%;
              width: 0;
              background: $darkRed;
              z-index: -1;
              transition: all 300ms ease;
            }
          }

          &:hover {
            color: white;
            transition: .2s linear all;

            & {
              &:before {
                content: '';
                width: 100%;
                left: 0;
                right: 0;
              }
            }
          }
        }
      }

      img {
        width: 100%;
        max-width: 560px;
      }
    }
  }
}


.suc-payment-layer {
  background-size: cover;
  background-repeat: no-repeat;
  background-color: unset;
  background-image: url('../images/suc-payment.svg');

  .site-visit {
    p {
      color: $yellow;

      a {
        color: $yellow;

      }
    }
  }

  .header {
    .header-nav {
      .header-item {
        &:nth-of-type(1) {
          z-index: -1000;
          opacity: 0;
        }

        .header-link {
          color: $yellow;
        }
      }
    }
  }
}

.suc-payment-dialog-layer {
  .content {
    .box {
      margin-top: 8vh;
      animation: none;
      text-transform: uppercase;

      .title {
        transform: rotate(15deg);
        font-weight: 500;
        font-size: 48px;
        position: relative;
        color: $lightGreen;
        margin-bottom: 15vh;
      }

      .button {
        position: relative;
        left: 8vw;
        margin: 7vh 0 10vh 0;

        a {
          text-decoration: none;
          font-size: 32px;
          color: $yellow;
          padding: 3vh 6vw;
          border: 4px $yellow solid;
          transition: .2s linear all;

          & {
            position: relative;

            &:before {
              content: '';
              position: absolute;
              bottom: 30px;
              left: auto;
              right: 0;
              height: 15%;
              width: 0;
              background: $lightGreen;
              z-index: -1;
              transition: all 300ms ease;
            }
          }

          &:hover {
            color: white;
            transition: .2s linear all;

            & {
              &:before {
                content: '';
                width: 100%;
                left: 0;
                right: 0;
              }
            }
          }
        }
      }

      img {
        width: 100%;
        max-width: 560px;
      }
    }
  }
}

.popular-problems-modal {
  display: flex;

  align-items: center;

  justify-content: center;

  position: absolute;

  top: 0;

  z-index: -5;

  opacity: 0;

  transition: .2s linear all;

  background-color: rgba(255, 255, 255, 0.5);

  height: calc(100vh + 196px);

  width: 100%;
  .content {
    width: 100%;
    max-width: 750px;
    margin: 0 auto;
    padding: 34px 20px;
    background-color: $yellow;
    .title {
      padding: 4px 35px;
      text-align: center;
      text-transform: uppercase;
      font-size: 36px;
      position: relative;
      .close {
        height: 35px;
        cursor: pointer;
        transform: rotate(45deg);
        width: 35px;
        right: 5%;
        position: absolute;
        transition: .2s linear all;
        &:hover {
          transition: .2s linear all;
          transform: scale(1.2) rotate(315deg);
        }
      }
    }
    .text {
      padding: 4px 35px;
      ul {
        li {
          font-size: 24px;
          margin: 6px 0;
          list-style-type: decimal;
        }
      }
    }
  }
}

.popular-problems-modal-active {
  z-index: 10;
  opacity: 1;
  transition: all .2s linear;
}
#popular-problems {
  cursor: pointer;
}

.wewe-piggie {
  top: 30%;
  animation: fadeUpDown 2s infinite linear!important;
  width: 30%;
  right: 5%;
  z-index: 15;
  position: absolute;
}