{% extends 'base.html' %}
{% load static %}
{% block title %}Контакты и реквизиты{% endblock title %}
{% block content %}

<section class="olymp-completed">
        <div class="olymp-completed-textBox" style="font-size:1.6em;">
<h2>Школа Точных Наук</h2>
<br>
<p>Основное помещение: Бауманская улица, 6, стр. 2 <br>(6 минут пешком от метро "Бауманская", 10 минут пешком от метро "Красносельская")</p>
<br>
<p>Филиал: Мосфильмовская улица, 35 (10 минут пешком от метро "Ломоносовский проспект")</p>
<p>Москва, Россия</p>
<br>
<p><a href="mailto:schoolofexactsciences@gmail.com" style="text-decoration: none;color:#399FB7;">schoolofexactsciences@gmail.com</a></p>
<p><a href="tel:79859710021" style="text-decoration: none;color:#399FB7;">+79859710021</a> (12:00-18:00, WhatsApp/Telegram - круглостуточно)</p>
<p><a href="tel:79250406082" style="text-decoration: none;color:#399FB7;">+79250406082</a></p>
        </div>
        <div class="olymp-completed-image">
            <img src="{% static 'images/olymp/penguin-2.png' %}" alt="">
        </div>
    </section>
{% endblock content %}