<footer class="reg-footer-style" id="reg-footer-anchor">
    <div class="reg-footer-social">
        <a href="https://www.instagram.com/schoolofsciences/" class="reg-footer-link"><i class="fa fa-instagram" aria-hidden="true" style="font-weight:bold;"></i></a>
        <a href="http://vk.com/schoolofsciences" class="reg-footer-link"><i class="fa fa-vk" aria-hidden="true"></i></a>
        <a href="{% url 'contacts' %}" class="reg-footer-link" style="text-decoration:none;"><i class="fa fa-compass" aria-hidden="true"></i><span class="hidem"> Контакты</span></a>
        <a href="{% url 'description' %}" class="reg-footer-link" style="text-decoration:none;"><i class="fas fa-book"></i><span class="hidem"> Описание</span></a>
    </div>
</footer>