{% extends 'base.html' %}
{% load static %}
{% block title %}Начало олимпиады - Штерн{% endblock %}
{% block content %}
<div class="dialog-layer index-layer">
    <div class="content">
        <div id="index-anim">

        </div>
    </div>
</div>

<div class="template-wrap index-layer index-page-layer">
    <div class="content-layer">
        <header class="header" id="header">
            <ul class="header-nav">
                <li class="header-item">
                    Пока ждем начала
                    <img class="arrow" src="{% static 'images/arrow-1.svg' %}" alt="">
                </li>
                <li class="header-item">
                    <a class="header-link sign-modal-Buttons">
                        Регистрация
                    </a>
                </li>
                <li class="header-item">
                    <a class="header-link sign-modal-Buttons">
                        Авторизация
                    </a>
                </li>
            </ul>
            <div class="dots-image">
                <img src="{% static 'images/bg-layer-6.svg' %}" alt="">
            </div>
        </header>

        <div class="site-visit">
            <p>Посетите наш сайт :)</p>
            <p><a class="site-visit-link" href="">www.schoolofsciences.ru</a></p>
        </div>
        <div class="social-links">
            <ul class="social-list">
                <li class="social-item">
                    <a class="social-link" href="#">
                        <img class="social-image vk" src="{% static 'images/social-icon-vk.svg' %}" alt="">
                    </a>
                </li>
                <li class="social-item">
                    <a class="social-link" href="#">
                        <img class="social-image instagram" src="{% static 'images/social-icon-instagram.svg' %}" alt="">
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<footer class="footer" id="footer">
    <div class="content">
        <p>
            <a href="#">
                Политика конфиденциальности
            </a>
        </p>
        <p>
            <a href="#">
                Соглашение
            </a>
        </p>
    </div>
    <div class="copyright">
        <p>COPYRIGHT &#169;2020 <span>Школа точных наук "ШТЕРН"</span></p>
    </div>
</footer>
<div class="sign-modal-bg" id="signModalBg">
    <div class="content">
        <img src="{% static 'images/sign-modal-lines.svg' %}" alt="">
        <!--        <div class="modal">-->
        <!--            <div class="forms">-->
        <!--            </div>-->
        <!--        </div>-->
    </div>
</div>
<div class="sign-modal" id="signModal">
    <div class="content">
        <div class="close"><img src="{% static 'images/plus.svg' %}" id="sign-modal-close" alt=""></div>
        <div class="modal">
            <div class="navigation">
                <a class="active" id="signInSelector">Войти</a>
                <a id="signUpSelector">Регистрация</a>
            </div>
            <div class="forms" >
                <form class="singInForm" action="" method="post" id="signInForm">
                    <label for="signInUserName">Имя пользователя</label>
                    <br>
                    <input type="text" id="signInUserName">
                    <br>
                    <label for="signInPassword">Пароль</label>
                    <br>
                    <input type="password" id="signInPassword">
                    <div class="error-text">
                        Неправильный пароль!
                    </div>
                    <button type="submit">go!</button>
                </form>
                <form class="singInForm" action="" method="post" id="signUpForm">
                    <div class="row">
                        <div class="item">
                            <label for="signUpUserName">Имя пользователя</label>
                            <br>
                            <input type="text" id="signUpUserName">
                        </div>
                        <div class="item">
                            <label for="signUpPassword">Пароль</label>
                            <br>
                            <input type="text" id="signUpPassword">
                        </div>
                    </div>
                    <div class="row">
                        <div class="item">
                            <label for="signUpEmail">Почта</label>
                            <br>
                            <input type="text" id="signUpEmail">
                        </div>
                        <div class="item">
                            <label for="signUpPhone">Номер телефона</label>
                            <br>
                            <input type="text" id="signUpPhone">
                        </div>
                    </div>
                    <div class="row">
                        <div class="item">
                            <label for="signUpName">Имя</label>
                            <br>
                            <input type="text" id="signUpName">
                        </div>
                        <div class="item">
                            <label for="signUpLastName">Фамилия</label>
                            <br>
                            <input type="text" id="signUpLastName">
                        </div>
                    </div>
                    <div class="row">
                        <div class="item">
                            <label for="schoolClass">Класс</label>
                            <br>
                            <input type="text" id="schoolClass">
                        </div>
                        <div class="item">
                            <label for="school">Школа</label>
                            <br>
                            <input type="text" id="school">
                        </div>
                    </div>
                    <div class="error-text">
                        Неправильный пароль!
                    </div>
                    <button type="submit">go!</button>
                </form>
            </div>
        </div>
    </div>
</div>


<!--<div id="preloader"></div>-->
<script src="{% static 'node_modules/lottie-web/build/player/lottie.js' %}"></script>
<script>
    lottie.loadAnimation({
        container: document.getElementById('preloader'),
        renderer: 'svg',
        loop: true,
        autoplay: true,
        path: '../static/animations/data.json',
    });
</script>
<script>
    lottie.loadAnimation({
        container: document.getElementById('index-anim'),
        renderer: 'svg',
        loop: true,
        autoplay: true,
        path: '../static/animations/index.json',
    });
</script>
{% endblock content %}
