
{% extends 'base.html' %}
{% load static %}
{% block title %}Олимпиада Штерн - Личный кабинет{% endblock %}
{% block content %}
<div class="dialog-layer personal-dialog-layer">
    <div class="content">
        <div class="profile-wrapper">
            <div class="left-side">
                <div class="profile-short-info">
                    <div class="profile-image"><img src="{% static 'images/penguin-profile.svg' %}" alt=""></div>
                    <div class="profile-name">{{ request.user.username }}</div>
                    <div class="settings-button"><a href=""><img src="{% static 'images/profile-image-1.svg' %}" alt="">Настройки</a></div>
                </div>
                <div class="profile-controll">
                    <a href=""><img src="{% static 'images/profile-image-2.svg' %}" alt=""> назад</a>
                    <a href="{% url 'signout' %}"><img src="{% static 'images/profile-image-3.svg' %}" alt=""> выйти</a>
                </div>
            </div>
            <div class="profile-box">
                <div class="top">
                    <p>Статус оплаты:</p>
                    <div class="image">
                        <div class="bg">
                            <img src="{% static 'images/payment-status-bg.svg' %}" alt="">
                        </div>
                        <div class="result">
                            {% if user_in_event.paid %}
                                <img src="{% static 'images/payment-status-suc.svg' %}" alt="">
                            {% else %}
                            <img src="{% static 'images/payment-status-bad.svg' %}" alt="">
                            {% endif %}
                            </div>
                    </div>
                </div>
                <form action="{% url 'profile' %}" method="post">
                    {% csrf_token %}
                    <div class="row">
                        <label for="profileUserName">Имя пользователя</label>
                    </div>
                    <div class="row">
                        <input type="text" id="profileUserName" name="username" value="{{ student.user.username }}">
                    </div>
                    <div class="row">
                        <div class="col">
                            <label for="profileEMail">Почта</label>
                        </div>
                        <div class="col">
                            <label for="profilePhone">Номер телефона</label>
                        </div>
                    </div>
                    <div class="row">
                        <input type="text" id="profileEMail" name="email" value="{{ student.user.email }}">
                        <input type="text" id="profilePhone" name="telephone_number" value="{{ student.telephone_number }}">
                    </div>
                    <div class="row">
                        <div class="col">
                            <label for="profileName">Имя</label>
                        </div>
                        <div class="col">
                            <label for="profileLastname">Фамилия</label>
                        </div>
                    </div>
                    <div class="row">
                        <input type="text" name="first_name" id="profileName" value="{{ student.user.first_name}}">
                        <input type="text" name="last_name" id="profileLastname" value="{{ student.user.last_name }}">
                    </div>
                    <div class="row">
                        <div class="col">
                            <label for="profileClass">Класс</label>
                        </div>
                        <div class="col">
                            <label for="profileSchool">Школа</label>
                        </div>
                    </div>
                    <div class="row">
                        <input type="text" name="class_number" id="profileClass" value="{{ student.class_number}}">
                        <input type="text" name="name_school" id="profileSchool" value="{{ student.name_school}}">
                    </div>
                    <button type="submit">Изменить</button>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="template-wrap personal-area-layer">
    <div class="content-layer">
        <header class="header" id="header">
            <ul class="header-nav">
                <li class="header-item">
                    <a class="header-link" href="">
                        Пока ждем начала
                        <img class="arrow" src="{% static 'images/arrow-1.svg' %}" alt="">
                    </a>
                </li>
                <li class="header-item">
                    <a class="header-link" href="">
                        Об олимпиаде
                    </a>
                </li>
                <li class="header-item">
                    <a class="header-link" href="">
                        Юзернейм
                    </a>
                </li>
            </ul>
            <div class="dots-image">
                <img src="{% static 'images/bg-layer-6.svg' %}" alt="">
            </div>
        </header>

        <div class="site-visit">
            <p>Посетите наш сайт :)</p>
            <p><a class="site-visit-link" href="">www.schoolofsciences.ru</a></p>
        </div>
        <div class="social-links">
            <ul class="social-list">
                <li class="social-item">
                    <a class="social-link" href="#">
                        <img class="social-image vk" src="{% static 'images/social-icon-vk.svg' %}" alt="">
                    </a>
                </li>
                <li class="social-item">
                    <a class="social-link" href="#">
                        <img class="social-image instagram" src="{% static 'images/social-icon-instagram.svg' %}" alt="">
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>


<footer class="footer " id="footer">
    <div class="content">
        <p>
            <a href="#">
                Политика конфиденциальности
            </a>
        </p>
        <p>
            <a href="#">
                Соглашение
            </a>
        </p>
    </div>
    <div class="copyright">
        <p>COPYRIGHT &#169;2020 <span>Школа точных наук "ШТЕРН"</span></p>
    </div>
</footer>
{% endblock content %}