{% extends 'base.html' %}
{% load static %}
{% block title %}Олимпиада Успешная оплата - Штерн{% endblock %}
{% block content %}
<div class="dialog-layer suc-payment-dialog-layer">
    <div class="content">
        <div class="box">
            <div class="title">
                Успешная оплата
            </div>
            <div class="button">
                <a href="{% url 'time_to_start' category_slug=student_in_event.event.category.slug  slug=student_in_event.event.slug %}">к олимпиаде</a>
            </div>
        </div>
    </div>
</div>
<img class="wewe-piggie" src="{% static 'images/wewe-piggie.svg' %}" alt="">

<div class="template-wrap suc-payment-layer">
    <div class="content-layer">
        <header class="header" id="header">
            <ul class="header-nav">
                <li class="header-item">
                    Пока ждем начала
                    <img class="arrow" src="{% static 'images/arrow-1.svg' %}" alt="">
                </li>
                <li class="header-item">
                    <a class="header-link" href="">
                        Об олимпиаде
                    </a>
                </li>
                <li class="header-item">
                    <a class="header-link" href="{% url 'profile' %}">
                        {{ request.user.username }}
                    </a>
                </li>
            </ul>
            <div class="dots-image">
                <img src="{% static 'images/bg-layer-6.svg' %}" alt="">
            </div>
        </header>

        <div class="site-visit">
            <p>Посетите наш сайт :)</p>
            <p><a class="site-visit-link" href="schoolofsciences.ru">www.schoolofsciences.ru</a></p>
        </div>
        <div class="social-links">
            <ul class="social-list">
                <li class="social-item">
                    <a class="social-link" href="vk.com/schoolofsciences">
                        <img class="social-image " src="{% static 'images/social-icon-vk-badpayment.svg' %}" alt="">
                    </a>
                </li>
                <li class="social-item">
                    <a class="social-link" href="instagram.com/schoolofsciences/">
                        <img class="social-image " src="{% static 'images/social-icon-instagram-badpayment.svg' %}" alt="">
                    </a>
                </li>
            </ul>
        </div>
    </div>

</div>


<footer class="footer " id="footer">
    <div class="content">
        <p>
            <a href="#">
                Политика конфиденциальности
            </a>
        </p>
        <p>
            <a href="#">
                Соглашение
            </a>
        </p>
    </div>
    <div class="copyright">
        <p>COPYRIGHT &#169;2020 <span>Школа точных наук "ШТЕРН"</span></p>
    </div>

</footer>
{% endblock content %}