@font-face {

font-family: "BebasNeue"; 

src: url("../assets/BebasNeueBold.12c5024f5e7b.ttf") format("truetype"); 
font-style: normal; 
font-weight: normal; 
} 

@font-face {
    font-family: "LatoMedium";
    src: url("../assets/Lato-Medium.a2b67a66a2c1.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}