@font-face {

font-family: "BebasNeue"; 

src: url("../assets/BebasNeueBold.12c5024f5e7b.ttf") format("truetype"); 
font-style: normal; 
font-weight: normal; 
} 

@font-face {
    font-family: "LatoMedium";
    src: url("../assets/Lato-Medium.a2b67a66a2c1.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
html,body {
    height: 100%;
}
body {
    font-family: 'BebasNeue', cursive;
    padding: 0;
    margin: 0;
    height: 100%;
    overflow-x: hidden;
    background-size: cover;
    background-image: url("../images/reg-img/background.515a9ecd70a5.png");
}
* {
    margin: 0;
    padding: 0;
}
.fa-times {
    color:#fff;
}
.header-style {
    padding: 0 1vw;
}
.reg-header-style {
    padding: 0 1vw;
}
.nav-line {
    padding: 12px 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}
.nav-logo img {
    width: 385px;
    height: 125px;
}
.nav-button-link {
    color: #399fb7;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 40px;}
.reg-main-content {
    display: flex;
    flex-flow: wrap column;
    align-items: center;
    margin-top: 1vh;
}
.reg-button-box{
    
}
.reg-button {
    background-color: #399fb7;
    color:#fff;
    border: none;
    border-radius: 100px;
    font-size: 110px;
    padding: 24px 62px;
    outline: none;
    font-weight: 500;
    cursor: pointer;
}
.penguin-image-box {
    margin-top: 5vh;
}
.penguin-image {
    height: 505px;
    width: 350px;
}
.reg-footer-style {
    padding: 0 1vw;
}
.reg-footer-social .reg-footer-link {
    font-size: 44px;
    color: #399fb7;
    margin-right: 10px;
}

.olymp-content {

}
.olypm-content-wrapper {
    padding: 0 15vw;
    height: 100%;
    justify-content: center;
}
.olymp-content-image {
    width: 65%;
    height: 650px;
    background-image: url("../images/olymp/desk.4b4ce43cfba8.png");
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    margin-left: 25%;
}
/*.olymp-content-image img {*/
/*    width: 100%;*/
/*    height: 700px;*/
/*}*/
.olymp-content-text {
    font-size: 110px;
    color:#fff;
    bottom: 45vh;
    right: 0;
    text-align: center;
    left: 0;
    display: flex;
    align-items: center;
    margin-left: 2vw;
}
.olymp-content-text a {
    padding-top: 5vh;
    color:inherit;
    text-decoration: none;
}
.olymp-content-rules {
    text-align: right;
}
.olymp-rules-button {
    position: relative;
    outline: none;
    cursor: pointer;
    top: 20px;
    right: 75px;
    text-transform: capitalize;
    border: none;
    background-color: transparent;
    font-size: 32px;
    transform: rotate(1.5deg);
}

.olymp-completed {
    padding: 0 10vw;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;

}
.olymp-completed-textBox {
    font-size: 42px;
}
.olymp-completed-image img {
    width: 600px;
    height: 750px;
}
.olymp-completed-image {
    margin-right: 3vw;
}
.paymentBad {
    padding: 0 15vw;
}
.paymentBad .reg-button {
    font-size: 63px;
}


.tests-wrapper {
    padding: 0 15vw;
}
.test-title {
    font-size: 42px;
    margin: 1vh 0;
}
.test-counter {
    font-size: 32px;
    margin: 1vh 0;
}
.test-description {
    margin: 1vh 0;
    font-size: 24px;
}
.tests-button-group {
    width: 500px;
    display: flex;
    flex-flow: wrap row;
    justify-content: space-between;
}
.test-answer {
    resize: none;
    margin: 1vh 0;
    width: 500px;
    outline: none;
    display: block;
}
.test-button {
    font-size: 14px;
    background-color: #399fb7;
    border: none;
    padding: 12px 8px;
    outline: none;
    cursor: pointer;
    color:#fff;
}
.test-timer {
    position: absolute;
    top: 25vh;
    background-color: rgba(211, 211, 211,.5);
    padding: 16px;
    border-radius: 15px;
    left: 75%;
}
.test-time {
    font-size: 22px;
    margin: 1vh 0;
}



.actionMoveArrow {
    position: absolute;
    z-index: 100;
    top: 35%;
    left: 15%;
    bottom: 0;
}
.actionMoveArrow-img {
    width: 420px;
    height: 250px;
}




.reg-footer-style {
    position: fixed;
    top: 92%;
}

.olymp-content-text {
    transform: rotate(-2deg);
    position: relative;
    bottom: 25px;
    top:10px;
        left: 200px;

    text-align: left;
    font-size: 120px;
}
.olymp-text-rules-content {
    text-align: left;
    width: 550px;
    font-size: 22px;
    color:#fff;
    position: relative;
    left: 150px;
    top: 35px;
}
.tests-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.test-answer {
    padding: 6px 10px;
}
.olymp-completed {
    color:#399FB7;
}


.olymp-content-sign {
    color:#7f7d5f;

    font-weight: 500;
    font-size: 20px;
    position: absolute;
    top: 52%;
    left: 65%;
    width: 400px;
}
.olymp-content-wrapper {
    padding: 0;
    width: 100%;
height: 800px;
    
}
.olymp-content-image {
    width: 100%;
height: 800px;    margin: 0 auto;
}


@media (min-width: 435px) and (max-width:1400px) {
    .olymp-content-sign {
        position: static;
        margin-top: 13vh;
    }
    
}

@media (max-width: 600px) {
    .olymp-content-sign {
        font-size: 14px;
    }
    .modalWindow {
        width: 100%;
        margin: 0;
    }
}