@media (min-width: 900px) and (max-width: 1199px) {
    .tests-wrapper {
        padding: 0;
    }
}

@media (min-width: 600px) and (max-width: 899px) {
    .reg-button {
        font-size: 72px;
    }

    .tests-wrapper {
        padding: 0;
    }
}

/*media queries to tablet devises*/
/*media queries to different mobile devises*/
@media (min-width: 100px )  and (max-width: 599px) {
    .nav-line {
        display: block;
        text-align: center;
    }

    .nav-logo img {
        width: 250px;
        height: 65px;
    }

    .reg-button {
        font-size: 12px;
    }

    .tests-wrapper {
        padding: 0;
    }

    .tests-button-group {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .test-button {
        display: block;
    }
}


@media (max-width: 1600px) {
    .modalFormButtonSubmit {
        font-size: 16px;
    }
}

@media (max-width: 1400px) {
    .modalFormButtonSubmit {
        font-size: 16px;
    }
}

@media (max-width: 1200px) {
    .modalFormButtonSubmit {
        font-size: 16px;
    }
}

@media (max-width: 855px) {
    .modalFormButtonSubmit {
        font-size: 12px;
    }
}


@media (max-width: 1300px) {
    .modalWindowTitleAuth {
        display: block;
    }
}

@media (max-width: 855px) {

    .modalWindowTitleAuth {
        display: block;
    }
}

@media (max-width: 1150px) {
    .olymp-content-text {
        transform: rotate(0deg);
        left: 50px;
    }

    .olymp-text-rules-content {
        transform: rotate(0deg);
        left: 40px;
        top: 0;
    }

}

@media (max-width: 1000px) {
    .olymp-content-text {
        transform: rotate(0deg);
        left: 50px;
        font-size: 62px;
    }

    .olymp-text-rules-content {
        transform: rotate(0deg);
        left: 40px;
        top: 0;
        font-size: 12px;
        width: 345px;
    }

}

@media (max-width: 800px) {
    .olymp-content-text {
        transform: rotate(0deg);
        top: 25px;
        left: 75px;
        font-size: 62px;
    }

    .olymp-text-rules-content {
        transform: rotate(0deg);
        left: 65px;
        top: 35px;
        font-size: 12px;
        width: 345px;
    }

    .olypm-content-wrapper {
        padding: 0 5vw;
    }

}

@media (max-width: 700px) {
    .olymp-content-text {
        transform: rotate(0deg);
        top: 5px;
        left: 150px;
        font-size: 62px;
    }

    .olymp-text-rules-content {
        transform: rotate(0deg);
        left: 150px;
        top: 10px;
        font-size: 12px;
        width: 345px;
    }

    .olypm-content-wrapper {
        padding: 0;
    }

    .olymp-content-image {
        width: 100%;
        height: 650px;
        background-image: url(../images/olymp/desk.png);
        background-size: cover;
        background-repeat: no-repeat;
        text-align: center;
        margin-left: 0;

    }

    @media (max-width: 500px) {
        .olymp-content-text {
            transform: rotate(0deg);
            top: 5px;
            left: 75px;
            font-size: 62px;
        }

        .olymp-text-rules-content {
            transform: rotate(0deg);
            left: 75px;
            top: 10px;
            font-size: 12px;
            width: 345px;
        }

        .olypm-content-wrapper {
            padding: 0;
        }

        .olymp-content-image {
            width: 100%;
            height: 650px;
            background-image: url(../images/olymp/desk.png);
            background-size: cover;
            background-repeat: no-repeat;
            text-align: center;
            margin-left: 0;

        }

        @media (max-width: 435px) {
            .olymp-content-text {
                transform: rotate(0deg);
                top: 5px;
                left: 25px;
                font-size: 62px;
            }

            .olymp-text-rules-content {
                transform: rotate(0deg);
                left: 25px;
                top: 10px;
                font-size: 12px;
                width: 345px;
            }

            .olypm-content-wrapper {
                padding: 0;
            }

            .olymp-content-image {
                width: 100%;
                height: 650px;
                background-image: url(../images/olymp/desk.png);
                background-size: cover;
                background-repeat: no-repeat;
                text-align: center;
                margin-left: 0;

            }


            @media (max-width: 370px) {
                .olymp-content-text {
                    transform: rotate(0deg);
                    top: 5px;
                    left: 20px;
                    font-size: 62px;
                }

                .olymp-text-rules-content {
                    transform: rotate(0deg);
                    left: 20px;
                    top: 10px;
                    font-size: 12px;
                    width: 315px;
                }

                .olypm-content-wrapper {
                    padding: 0;
                }

                .olymp-content-image {
                    width: 100%;
                    height: 650px;
                    background-image: url(../images/olymp/desk.png);
                    background-size: cover;
                    background-repeat: no-repeat;
                    text-align: center;
                    margin-left: 0;

                }

                @media (max-width: 330px) {
                    .olymp-content-text {
                        transform: rotate(0deg);
                        top: 5px;
                        left: 30px;
                        font-size: 42px;
                    }

                    .olymp-text-rules-content {
                        transform: rotate(0deg);
                        left: 30px;
                        top: 10px;
                        font-size: 8px;
                        width: 275px;
                    }

                    .olypm-content-wrapper {
                        padding: 0;
                    }

                    .olymp-content-image {
                        width: 100%;
                        height: 650px;
                        background-image: url(../images/olymp/desk.png);
                        background-size: cover;
                        background-repeat: no-repeat;
                        text-align: center;
                        margin-left: 0;
                    }

                    @media (max-width: 300px) {
                        .olymp-content-text {
                            transform: rotate(0deg);
                            top: 5px;
                            left: 30px;
                            font-size: 42px;
                        }

                        .olymp-text-rules-content {
                            transform: rotate(0deg);
                            left: 30px;
                            top: 10px;
                            font-size: 8px;
                            width: 225px;
                        }

                        .olypm-content-wrapper {
                            padding: 0;
                        }

                        .olymp-content-image {
                            width: 100%;
                            height: 650px;
                            background-image: url(../images/olymp/desk.png);
                            background-size: cover;
                            background-repeat: no-repeat;
                            text-align: center;
                            margin-left: 0;

                        }
                    }

                    @media (max-width: 255px) {
                        .olymp-content-text {
                            transform: rotate(0deg);
                            top: 5px;
                            left: 30px;
                            font-size: 32px;
                        }

                        .olymp-text-rules-content {
                            transform: rotate(0deg);
                            left: 30px;
                            top: 10px;
                            font-size: 8px;
                            width: 185px;
                        }

                        .olypm-content-wrapper {
                            padding: 0;
                        }

                        .olymp-content-image {
                            width: 100%;
                            height: 650px;
                            background-image: url(../images/olymp/desk.png);
                            background-size: cover;
                            background-repeat: no-repeat;
                            text-align: center;
                            margin-left: 0;
                        }
                    }


                    @media (max-width: 255px) {
                        .olymp-content-text {
                            transform: rotate(0deg);
                            top: 5px;
                            left: 30px;
                            font-size: 32px;
                        }

                        .olymp-text-rules-content {
                            transform: rotate(0deg);
                            left: 30px;
                            top: 10px;
                            font-size: 8px;
                            width: 185px;
                        }

                        .olypm-content-wrapper {
                            padding: 0;
                        }

                        .olymp-content-image {
                            width: 100%;
                            height: 650px;
                            background-image: url(../images/olymp/desk.png);
                            background-size: cover;
                            background-repeat: no-repeat;
                            text-align: center;
                            margin-left: 0;
                        }
                    }
                }
            }

            @media (max-width: 255px) {
                .olymp-content-text {
                    transform: rotate(0deg);
                    top: 5px;
                    left: 30px;
                    font-size: 32px;
                }

                .olymp-text-rules-content {
                    transform: rotate(0deg);
                    left: 30px;
                    top: 10px;
                    font-size: 8px;
                    width: 185px;
                }

                .olypm-content-wrapper {
                    padding: 0;
                }

                .olymp-content-image {
                    width: 100%;
                    height: 650px;
                    background-image: url(../images/olymp/desk.png);
                    background-size: cover;
                    background-repeat: no-repeat;
                    text-align: center;
                    margin-left: 0;
                }
            }


            @media (max-width: 220px) {
                .olymp-content-text {
                    transform: rotate(0deg);
                    top: 5px;
                    left: 30px;
                    font-size: 32px;
                }

                .olymp-text-rules-content {
                    transform: rotate(0deg);
                    left: 30px;
                    top: 10px;
                    font-size: 6px;
                    width: 150px;
                }

                .olypm-content-wrapper {
                    padding: 0;
                }

                .olymp-content-image {
                    width: 100%;
                    height: 650px;
                    background-image: url(../images/olymp/desk.png);
                    background-size: cover;
                    background-repeat: no-repeat;
                    text-align: center;
                    margin-left: 0;
                }
            }

            @media (max-width: 1600px) {
                .olymp-content-sign {
                    margin-top: 100px;
                    position: static;

                }
            }
            @media (max-width: 1500px) {
                .olymp-content-sign {
                    margin-top: 100px;
                    position: static;

                }
            }
            @media (max-width: 650px) {


                .reg-main-content {

                }

                .modalWindowTitle {

                }


            }

            @media (max-height: 875px) {
                .olymp-content-sign {
                    top: 72%;
                }
            }

            @media (max-width: 600px) {
                .modalWindowContainer {
                    padding: 10px 0;

                }

                .modalWindowTitleAuth {
                    font-size: 14px;
                }
            }

            .modalWindowTop {
                display: flex;
                flex-flow: wrap row;
                justify-content: space-between;
                align-items: center;
            }

            .modalWindowTop i {
                font-size: 32px;
                cursor: pointer;
            }

            .modalWindowTitle {
                font-size: 30px;
                color: #ffffff;
                text-transform: uppercase;
            }

            @media (max-width: 1024px) {
                .modalWindowTitle {
                    font-size: 20px;
                    text-align: center;
                }

                .modalWindowTop {
                    display: block;
                }

                .olymp-content-sign {
                    margin-top: 16vh;
                }

                .reg-footer-style {
                    margin-bottom: 10px;
                    margin: auto;
                    width: 60%;
                    text-align: center;
                    background-color: rgba(0, 0, 0, 0) !important;
                    position: unset;
                }

                .modalFormButtonSubmit {
                    font-size: 15px !important;
                }

                .olymp-completed-textBox {
                    font-size: 1.3em;
                    margin: auto;
                }

                .olymp-completed-image {
                    margin: auto;
                }

                .macho {
                    text-align: center;
                }
            }

            @media (max-width: 1280px) {
                .modalWindowTitle {
                    font-size: 26px;
                    text-align: center;
                }

                .modalWindowTop {
                    display: block;
                }

                .olymp-content-sign {
                    width: 50%;
                }

                .reg-footer-style {
                    margin-bottom: 10px;
                    margin: auto;
                    width: 60%;
                    text-align: center;
                    background-color: rgba(0, 0, 0, 0) !important;
                    position: unset;
                }
            }

            @media (max-width: 600px) {
                .olymp-completed-textBox {
                    font-size: 1.3em;
                    margin: auto;
                }

                .olymp-completed-image img {
                    width: 100%;
                    height: auto;
                }

                .hidem {
                    visibility: hidden;
                    display: none;
                }
            }

            @media (max-width: 420px) {
                .modalWindowContainer {
                    padding: 10px 20px;
                    margin: 0 12vw;
                }

                .modalWindowTitle {
                    font-size: 20px !important;
                }

            }


            @media (max-width: 600px) {

                .modalFormButtonSubmit {
                    font-size: 14px;
                }

                .modalWindowTitle {
                    font-size: 12px;
                }

                .signIn_UpError {
                    font-size: 12px;
                }
            }

            @media (max-width: 600px) {

                .modalFormButtonSubmit {
                    font-size: 14px;
                }
            }
        }
    }
}

/*media queries to different mobile devises*/

