{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block title %}Начало олимпиады - Штерн{% endblock %}
{% block content %}
<div class="dialog-layer index-layer">
    <div class="content">
        <div class="box">
        </div>
    </div>
</div>

<div class="bg-layer">
    <div class="content">
        <img class="bg-timer-layer-item" id="bg-timer-layer-item-1" src="{% static 'images/bg-layer-1.svg' %}" alt="">
        <img class="bg-timer-layer-item" id="bg-timer-layer-item-2" src="{% static 'images/bg-layer-2.svg' %}" alt="">
        <img class="bg-timer-layer-item" id="bg-timer-layer-item-3" src="{% static 'images/bg-layer-3.svg' %}" alt="">
        <img class="bg-timer-layer-item" id="bg-timer-layer-item-4" src="{% static 'images/bg-layer-4.svg' %}" alt="">
        <img class="bg-timer-layer-item" id="bg-timer-layer-item-5" src="{% static 'images/bg-layer-5.svg' %}" alt="">
        <img class="bg-timer-layer-item" id="bg-timer-layer-item-6" src="{% static 'images/bg-layer-3.svg' %}" alt="">
    </div>
</div>
<div class="template-wrap index-layer">
    <div class="content-layer">
        <header class="header" id="header">
            <ul class="header-nav">
                <li class="header-item">
                    Пока ждем начала
                    <img class="arrow" src="{% static 'images/arrow-1.svg' %}" alt="">
                </li>
                <li class="header-item">
                    <a class="header-link" href="">
                        Об олимпиаде
                    </a>
                </li>
                <li class="header-item">
                    <a class="header-link" href="">
                        Юзернейм
                    </a>
                </li>
            </ul>
            <div class="dots-image">
                <img src="{% static 'images/bg-layer-6.svg' %}" alt="">
            </div>
        </header>

        <div class="site-visit">
            <p>Посетите наш сайт :)</p>
            <p><a class="site-visit-link" href="">www.schoolofsciences.ru</a></p>
        </div>
        <div class="social-links">
            <ul class="social-list">
                <li class="social-item">
                    <a class="social-link" href="#">
                        <img class="social-image vk" src="{% static 'images/social-icon-vk.svg' %}" alt="">
                    </a>
                </li>
                <li class="social-item">
                    <a class="social-link" href="#">
                        <img class="social-image instagram" src="{% static 'images/social-icon-instagram.svg' %}" alt="">
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<footer class="footer" id="footer">
    <div class="footer-images">
        <img class="stripes" src="{% static 'images/bg-layer-7.svg' %}" alt="">
    </div>
    <div class="content">
        <p>
            <a href="#">
                Политика конфиденциальности
            </a>
        </p>
        <p>
            <a href="#">
                Соглашение
            </a>
        </p>
    </div>
    <div class="copyright">
        <p>COPYRIGHT &#169;2020 <span>Школа точных наук "ШТЕРН"</span></p>
    </div>
</footer>
<div class="sign-modal-bg">
    <div class="content">
        <img src="{% static 'images/sign-modal-lines.svg' %}" alt="">
        <!--        <div class="modal">-->
        <!--            <div class="forms">-->
        <!--            </div>-->
        <!--        </div>-->
    </div>
</div>
<div class="sign-modal">
    <div class="content">
        <div class="modal">
            <div class="navigation">
                <a id="signInSelector">Войти</a>
                <a class="active" id="signUpSelector">Регистрация</a>
            </div>
            <div class="forms" >
                <form class="singInForm" action="{% url 'signup' %}" method="post" id="signUpForm">
                    <div class="row">
                        {% csrf_token %}
                        <div class="item">
                            {% render_field user_form.username for='signUpUserName' id="signUpUserName" class="modalFormInput" label="Имя пользователя" %}
                        </div>
                        <div class="item">
                            {% render_field user_form.password1 label="Пароль" for="signUpPassword" id="signUpPassword" class="modalFormInput" placeholder="Пароль"%}
                            {% render_field user_form.password2 class="modalFormInput" pllabel="Подтвердите пароль" for="signUpPassword" id="signUpPassword2"aceholder="Подтвердите пароль"%}
                        </div>
                    </div>
                    <div class="row">
                        <div class="item">
                            {% render_field user_form.email id="signUpEmail" for="signUpEmail" class="modalFormInput" label="Электронная почта"%}
                        </div>
                        <div class="item">
                            {% render_field student_form.telephone_number id="signUpPhone" for="signUpPhone" class="modalFormInput" label="Телефонный номер" %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="item">
                            {% render_field user_form.first_name id="signUpName" for="signUpName" class="modalFormInput" label="Имя" %}
                        </div>
                        <div class="item">
                            {% render_field user_form.last_name id="signUpLastName" for="signUpLastName" class="modalFormInput" label="Фамилия"%}
                        </div>
                    </div>
                    <div class="row">
                        <div class="item">
                            {% render_field student_form.class_number label='Класс' id="schoolClass" class="modalFormInput" placeholder="Класс"%}
                        </div>
                        <div class="item">
                            {% render_field student_form.name_school label='Школа' for="school" id="school" class="modalFormInput" placeholder="Название Вашей школы" %}
                        </div>
                    </div>
                    {% if messages %}
                        {% for message in messages %}
                            <div class="error-text">
                                {{ message }}
                            </div>    
                            {% endfor %}
                    {% endif %}
                    <button type="submit">go!</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!--<div id="preloader"></div>-->
<script src="{% static 'node_modules/lottie-web/build/player/lottie.js' %}"></script>
<script>
    lottie.loadAnimation({
        container: document.getElementById('preloader'),
        renderer: 'svg',
        loop: true,
        autoplay: true,
        path: '../static/animations/data.json',
    });
</script>
{% endblock content %}
