{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block title %}Регистрация{% endblock title %}
{% block content %}
<section class="reg-main-content">
    <div class="reg-button-box">
        <button class="reg-button" id="reg-button-id">Регистрация</button>
    </div>

    <div class="olymp-content-sign" id="olymp-content-sign-id">
        <p>
            Порядок участия в онлайн-олимпиаде:
        </p>
        <br>
        <p>  1. Регистрация на сайте.
        </p>
        <p>  2. Оплата оргвзноса (300р).

        </p>
        <p>   3. После оплаты Вы будете перенаправлены на страницу старта олимпиады. Вы можете начать олимпиаду в любой удобный для Вас момент.

        </p>
        <p>    4. Время на написание олимпиады строго фиксировано. По его истечении сеанс будет автоматически завершен:
            <br>
            - Для 1-3 класса время составляет 1 час
           <br>
            -Для 4 класса 1 час 15 минут
             <br>
            -Для 5-7 класса 1 час 30 минут
            <br>
            -Для 8 класса 1 час 45 минут

        </p>
        <p> 5. Результаты будут объявлены через неделю и придут Вам на почту.</p>
        <p>
            6. Победители получат бесплатные занятия в нашей Школе и на других математических кружках Москвы.</p>
    </div>
    <div class="penguin-image-box">
        <img src="{% static 'images/reg-img/penguin.png' %}" alt="Penguin say hi to You" class="penguin-image">
    </div>
</section>
<div class="modalWindow" id="modalWindowRegId">
    <div class="modalWindowContainer">
        <div class="modalWindowTop">
            <div class="modalWindowTitle">Регистрация</div>
            <i class="fa fa-times" id="modalCloseButtonReg"></i>
        </div>
        <form class="modalWindowForm" action="{% url 'signup' %}" method="post">
            {% csrf_token %}
            {% render_field user_form.username class="modalFormInput" placeholder="Логин" %}
            {% render_field user_form.email class="modalFormInput" placeholder="Электронная почта"%}
            {% render_field user_form.first_name class="modalFormInput" placeholder="Имя" %}
            {% render_field user_form.last_name class="modalFormInput" placeholder="Фамилия"%}
            {% render_field student_form.telephone_number class="modalFormInput" placeholder="Телефонный номер" %}
            {% render_field student_form.class_number class="modalFormInput" placeholder="Класс"%}
            {% render_field student_form.name_school class="modalFormInput" placeholder="Название Вашей школы" %}
            {% render_field user_form.password1 class="modalFormInput" placeholder="Пароль"%}
            {% render_field user_form.password2 class="modalFormInput" placeholder="Подтвердите пароль"%}
            <p class="par_pass" >- Пароль не может быть слишком похож на другую вашу личную информацию<br> - Пароль должен содержать не менее 8 символов<br> - Пароль не может быть широко используемым<br> - Пароль не может состоять только из букв/цифр<br></p>
            {% if messages %}
                {% for message in messages%}
                    <p class="par_pass-alert" >{{ message }}</p>
                    {% endfor %}
            {% endif %}            <div class="modalWindowBottom">
                <button type="submit" class="modalFormButtonSubmit" value="">Подтвердить регистрацию и оплатить </button>
            </div>
        </form>
    </div>
</div>
{% endblock content %}